<html>
<head>
<meta http-equiv="Content-Type" content="text/html; Charset=UTF-8">
<script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}" ></script>
</head>

<body>

    <div id="content"></div>

    <script>
        function show()
        {
            $.ajax({
                url: "/get_rand",
                cache: false,
                success: function(response) {
                    var json = jQuery.parseJSON(response)
                    $('#content').html(json.rand)
                }
            });
        }

        $(document).ready(function(){
            show();
            setInterval('show()',1000);
        });
    </script>

</body>
</html>